.footer {
  background-color: #0e304a;
}
.link-social {
  background: #00000000;
  border-radius: 3rem;
  color: #afcad9;
  margin: 0.5rem;
}

h1 {
  color: white;
}

hr {
  width: 4rem;
  color: white;
  height: 2px !important;
  border-radius: 50%;
  opacity: 1;
}

.link-footer {
  color: #afcad9;
  background-color: transparent;
  text-decoration: none;
}
