.cursor-pointer {
  cursor: pointer;
}

.white-space-pre-line {
  white-space: pre-line;
}

.white-space-pre-line::first-line {
  //line-height: 0;
}

.word-break-break-all {
  word-break: break-all;
}

.min-width-80px {
  min-width: 80px !important;
}

.min-width-100px {
  min-width: 100px !important;
}

.min-width-200px {
  min-width: 200px !important;
}
