.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background: #87B0C6;
  height: 40px;
  margin-bottom: 20px;
  font-size: 20px;
}

.title-page {
  font-size: 32px;
  margin: 20px 20px 30px 20px;
  color:#003156;
  text-align: center;
}

.tab-content {
  background-color: #FFFFFF;
  padding-bottom: 40px;
  border-radius: 0 0 15px 15px;
}

.nav-link.big-nav {
  border-color: #F0F2F2 !important;
  background-color: #F0F2F2 !important;
  color: #B3B3B3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link.big-nav.active {
  border-color: #FFFFFF #FFFFFF #EBF2F2 #FFFFFF !important;
  background-color: #FFFFFF !important;
}

main.container {
  border-radius: 20px;
}

.card-text {
  font-size: 12px
}

.card {
  background-color: #F5F7F7;
  border-radius: 20px;
  height: 180px;
}

.card-content-two {
  height: auto;
  background-color: #FFFFFF;
}

.info-pill {
  border: 1px solid #88B1C7;
  width: 320px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.payment-explain {
  font-size: 16px;
}

.nav-tabs .nav-one {
  border-top-left-radius: 15px;
}

.nav-tabs .nav-two {
  border-top-right-radius: 15px;
}

.footer-social-icon {
  margin-right: 1rem;
}

picture img {
  width: 100%;
  height: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.nav-item {
  width: calc( 100%/3);
}

@media only screen and (max-width: 991px) {
  .title-page {
    font-size: 25px;
  }
  .card-title {
    height: 40px;
    font-size: 18px;
  }
  .payment-explain {
    font-size: 12px;
  }
  .info-pill {
    font-size: 12px;
    width: 200px;
  }
}

@media only screen and (max-width: 975px) {
  picture img {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .title-page {
    font-size: 20px;
  }
  .card-title {
    height: 30px;
    font-size: 16px;
  }
  .payment-explain {
    font-size: 10px;
  }
  .info-pill {
    font-size: 10px;
    width: 150px;
  }
}

.blue-head {
  background: #bdd7ee;
}

.violet-head {
  background: #c19bdd;
}

.title-total-cost-job {
  border-color: #dee2e6;
}

.total-cost {
  border: 2px solid #dee2e6 !important;
  height: 4rem;
  background: #fef2cc;
}

.bold-text {
  font-weight: bold;
  margin: 0;
}

.tr-empty {
  min-height: 1rem;
}

.outer-spinner {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
