body {
  background-color: #f1f1f1;
}
div, h3 {
  font-family: 'M PLUS 1p'!important;
}
main {
  background-color: #ffffff;
  border-radius: 10px;
}

.title-page {
  font-size: 32px;
  margin: 50px 0px 30px;
}

button {
    border-radius: 20px!important;
    background-color: white!important;
    color: #00756A!important;
    font-size: 20px!important;
    border-color: #B2B2B2!important;
    width: 58%;
    padding: 10px 0px!important;
    margin-top: 1.5rem;
}

.card-body {
    background-color: #F1F1F1;
    color: #606060;
    font-size: 16px;
    border-radius: 10px;
    width: 58%;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-bottom: 0px!important;
}

button:hover {
    box-shadow: none!important;
}

.question-button {
    margin: 20px 0px;
    // padding-bottom: 50px;
}

.about-visa {
    padding-bottom: 50px;
}

.faq-con {
  padding-bottom: 80px;
}

.row {
  margin: 0 !important;
}
.mid {
  display: flex;
  justify-content: flex-end;
}
.mid img {
  width: 18px;
}

@media screen and (max-width: 991px) {
  button, .card-body {
    width: 80%;
  }
  .mid {
    display: flex;
    justify-content: flex-end;
  }
  .mid img {
    width: 18px;
  }
}


@media screen and (max-width: 768px) {
  button, .card-body {
    width: 95%;
  }
  .mid {
    display: flex;
    justify-content: initial;
  }
  .mid img {
    width: 18px;
  }
}
