.box-menu-left ul li {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 16px;
    background-color: #ffffff;
    border-left: 7px solid #0071BC;
}

.box-menu-left a {
    color: #9DA8A8;
}

.box-menu-left a img {
    margin-top: -5px;
    margin-right: 5px;
    filter: invert(79%) sepia(13%) saturate(154%) hue-rotate(131deg) brightness(130%) contrast(89%);
}

.box-menu-left a.active {
    filter: invert(28%) sepia(66%) saturate(7068%) hue-rotate(190deg) brightness(96%) contrast(101%);

}

.box-menu-left a.nav-link:hover {
    color: #ffffff;
    filter: invert(28%) sepia(66%) saturate(7068%) hue-rotate(190deg) brightness(96%) contrast(101%);
}

.box-form-account {
    background-color: #ffffff;
    border-radius: 20px;
}

.box-form-account h3 {
    font-size: 28px;
    color: #333333;
    padding-top: 34px;
}

.box-form-account .line {
    border-bottom: 1px solid #E8F1F1;
}

.box-form-account .form-group label {
    font-size: 14px;
}

.box-form-account .form-group label span {
    color: red;
}

.box-form-account .form-group input {
    border: 1px solid #88B1C7;
}

.box-form-account h5 {
    font-size: 14px;
    width: 35%;
    color: #0071BC;
    border-color: #88B1C7 !important;
}

.box-form-account .form-change {
    width: 50%;
}

.box-form-account .btn-edit-account {
    background-color: #0071BC;
    color: #fff;
    font-size: 14px;
    padding: 6px 18px;
}

.box-form-account .btn-cancel-account {
    color: #B2B2B2;
    font-size: 14px;
    padding: 6px 0px;
}

@media only screen and (max-width: 800px) {
    .box-menu-left ul li {
        font-size: 14px;
    }

    .box-form-account h3 {
        font-size: 21px;
        padding-top: 28px;
    }

    .box-form-account .form-group label {
        font-size: 13px;
    }

    .box-form-account .btn {
        font-size: 14px;
    }

    .box-form-account h5 {
        font-size: 13px;
        width: 40%;
    }

    .box-form-account .form-change {
        width: 60%;
    }

    .box-form-account .btn-edit-account {
        font-size: 13px;
        padding: 5px 17px;
    }

    .box-form-account .btn-cancel-account {
        font-size: 13px;
        padding: 5px 0px;
    }
}

@media only screen and (max-width: 600px) {
    .box-menu-left ul li {
        font-size: 12px;
        border-left: 6px solid #0071BC;
    }

    .box-menu-left a.nav-link {
        padding: 0.4rem 0.7rem;
    }

    .box-menu-left a img {
        height: 15px;
        margin-right: 1px;
    }

    .box-form-account h3 {
        font-size: 18px;
        padding-top: 24px;
    }

    .box-form-account .form-group label {
        font-size: 12px;
    }

    .box-form-account .btn {
        font-size: 12px;
    }

    .box-form-account h5 {
        font-size: 12px;
        width: 80%;
    }

    .box-form-account .form-change {
        width: 100%;
    }

    .box-form-account .btn-edit-account {
        font-size: 12px;
        padding: 4px 16px;
    }

    .box-form-account .btn-cancel-account {
        font-size: 12px;
        padding: 4px 0px;
    }
}

.form-change {
  .form-group {
    img {
      height: 110px;
    }
  }
}

.btn-select-image {
  color: #b3b3b3;
  font-size: 14px;
  padding: 6px 0px;
  background-color: #e4e4e4;

  img {
    height: 20px;
    color: #b3b3b3;
  }
}

.error-text {
  color: red;
  font-size: 12px;
}

.modal {
  .box-modal {
    border-radius: 15px;
  }

  .close-modal {
    height: 30px;
  }

  .modal-header {
    justify-content: end;
  }

  .modal-body > h3 > img {
    height: 200px;
  }

  .btn-secondary-custom {
    color: #fff;
    background-color: #c9c9c9;
    border-color: #c9c9c9;
  }

  .modal-body-text {
    color: #076dad;
  }

  .modal-footer {
    border-top: none !important;
  }
}
