.box-menu-left ul li {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 16px;
  background-color: #ffffff;
  border-left: 7px solid #0071BC;
}

.box-menu-left a {
  color: #9DA8A8;
}

.box-menu-left a img {
  margin-top: -5px;
  margin-right: 5px;
  filter: invert(79%) sepia(13%) saturate(154%) hue-rotate(131deg) brightness(130%) contrast(89%);
}

.box-menu-left a.active {
  filter: invert(28%) sepia(66%) saturate(7068%) hue-rotate(190deg) brightness(96%) contrast(101%);

}

.box-menu-left a.nav-link:hover {
  color: #ffffff;
  filter: invert(28%) sepia(66%) saturate(7068%) hue-rotate(190deg) brightness(96%) contrast(101%);
}

.box-form-info {
  background-color: #ffffff;
  border-radius: 20px;
}

.box-form-info h3 {
  font-size: 28px;
  color: #333333;
  padding-top: 34px;
}

.box-form-info .line {
  border-bottom: 1px solid #E8F1F1;
}

.box-form-info .form-group label {
  font-size: 14px;
}

.box-form-info .form-group label span {
  color: red;
}

.box-form-info .form-group input {
  border: 1px solid #88B1C7;
}

.box-form-info .form-group textarea {
  border: 1px solid #88B1C7;
}

.box-form-info .form-group select {
  border: 1px solid #88B1C7;
}

.box-form-info .form-group .input-group span.input-group-text-pre {
  position: relative;
  display: inline-block;
  line-height: normal;
  border: 1px solid #88B1C7;
  background-color: #ffffff;
}

.box-form-info .form-group .input-group span.input-group-text-pre::after {
  content: "";
  display: block;
  top: 7px;
  bottom: 6px;
  position: absolute;
  right: 0;
  border-right: 1px solid #CCCCCC;
}

.box-form-info .input-group-icon input {
  border-left: 0px solid #88B1C7;
  border-top: 1px solid #88B1C7;
  border-bottom: 1px solid #88B1C7;
  border-right: 1px solid #88B1C7;
}

.box-form-info .box-upload-file {
  border: 1px dashed #88B1C7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-form-info .box-upload-file p {
  font-size: 14px;
  color: #999999;
}

.box-form-info .box-upload-file p span {
  color: #0071BC;
}

.box-form-info .form-group small {
  font-size: 12px;
  color: #999999;
}

.box-form-info .btn-cancel-profile {
  padding: 12px 15px;
}

.box-form-info .btn-edit-profile {
  padding: 12px 39px;
  background-color: #0071BC;
  color: #fff;
  font-size: 16px;
}

.box-form-info .btn-edit-profile:hover {
  background-color: #6e9ddf;
}

.open-file-btn {
  cursor: pointer !important;
}

.box-form-info .btn-cancel-profile {
  color: #B2B2B2;
  font-size: 16px;
}

.box-form-info .btn-cancel-profile:hover {
  background-color: #e8e8e8;
}

@media only screen and (max-width: 800px) {
  .box-menu-left ul li {
      font-size: 14px;
  }

  .box-form-info h3 {
      font-size: 21px;
      padding-top: 28px;
  }

  .box-form-info .form-group label {
      font-size: 13px;
  }

  .box-form-info .box-upload-file p {
      font-size: 13px;
  }

  .box-form-info .form-group small {
      font-size: 11px;
  }

  .box-form-info .btn {
      font-size: 14px;
  }

  .box-form-info .btn-cancel-profile {
      padding: 10px 5px;
  }

  .box-form-info .btn-edit-profile {
      padding: 10px 26px;
  }
}

@media only screen and (max-width: 600px) {
  .box-menu-left ul li {
      font-size: 12px;
      border-left: 6px solid #0071BC;
  }

  .box-menu-left a.nav-link {
      padding: 0.4rem 0.7rem;
  }

  .box-menu-left a img {
      height: 15px;
      margin-right: 1px;
  }

  .box-form-info h3 {
      font-size: 18px;
      padding-top: 24px;
  }

  .box-form-info .form-group label {
      font-size: 12px;
  }

  .box-form-info .box-upload-file p {
      font-size: 12px;
  }

  .box-form-info .form-group small {
      font-size: 10px;
  }

  .box-form-info .btn {
      font-size: 12px;
  }

  .box-form-info .btn-cancel-profile {
      padding: 10px 5px;
  }

  .box-form-info .btn-edit-profile {
      padding: 10px 26px;
  }
}

.error {
  color: red;
  padding-left: 10px;
}

.invalid {
  border-color: red !important;
}


.date-picker .mx-input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 35px;
  width: 300px;
}

.btn-upload-video {
  background-color: #88B1C7;
  width: 40%;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.file-preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-modal {
  border-radius: 15px;
}

.close-modal {
  height: 30px;
}

.modal-header {
  justify-content: end;
}

.modal-body > h3 > img {
  height: 200px;
}

.btn-secondary-custom {
  color: #fff;
  background-color: #c9c9c9;
  border-color: #c9c9c9;
}

.modal-body-text {
  color: #076dad;
}

.modal-footer {
  border-top: none !important;
}

.custom-input-group {
  flex-wrap: unset !important;
}

.w-10 {
  width: 10%;
}

@media (max-width: 768px) {
  .date-picker .mx-input {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .file-preview p{
    font-size: 10px;
    overflow-wrap: break-word;
  }

  .remove-image {
    width: 100% !important;
  }

  .image-company {
    width: 100% !important;
  }
}

@media (min-width: 768px) {
  .remove-image {
    width: fit-content !important;
  }

  .image-company {
    width: 50% !important;
  }
}

.image-company {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 120px;
}
