.w-20 {
  width: 20%;
}

.box-search {
  /*--bs-gutter-x: 0px;*/
  margin-left: 0rem;
  margin-right: 0rem;
  background-color: #ffffff;
}

.box-search input {
  font-size: 12px;
  color: #88B1C7;
  border: 1px solid #88B1C7;
  background-color: #F5F7F7;
}

.box-search .form-select {
  font-size: 12px;
  color: #88B1C7;
  border: 1px solid #88B1C7;
  background-color: #F5F7F7;
}

.box-search .mx-datepicker {
  width: 100%;
}

input::placeholder {
  color: #88B1C7 !important;
  opacity: 1; /* Firefox */
}

.btn-search-job {
  font-size: 15px;
  color: #ffffff;
  background-color: #87B0C6;
  float: right;
}

.btn-search-job:hover {
  color: #ffffff;
  background-color: #b7d5e5;
}

.td-warning {
  padding: 1px 0px 1px 10px;
  color: #ffffff;
  font-size: 10px;
  background-color: #87B0C6;
  position: absolute;
  margin-top: -18px;
  margin-left: -18px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.td-warning img {
  height: 19px;
}

.td-warning-large {
  padding: 1px 0px 1px 10px;
  color: #ffffff;
  font-size: 10px;
  background-color: #87B0C6;
  position: absolute;
  margin-top: -18px;
  margin-left: -18px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.td-warning-large img {
  height: 19px;
}

.box-table {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #ffffff;
}

.box-table table {
  font-size: 14px;
}

.box-table table thead tr {
  background-color: #C5E8EF;
  color: #003156;
}

.box-table table tr.active {
  background-color: #F4F6F6;
}

.box-table table thead tr th {
  font-weight: normal;
  padding-top: 12px;
  padding-bottom: 12px;
}

.box-table table tbody tr {
  position: relative;
}

.box-table table tbody tr td {
  color: #333333;
}

.box-table table tbody tr td a {
  color: #333333 !important;
}

.table > :not(:first-child) {
  border-top: none;
}

.box-pagination {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #ffffff;
}

.box-pagination p {
  font-size: 12px;
  color: #87B0C6;
}

.page-link:focus {
  box-shadow: none;
  background-color: #CBCBCB;
  color: #ffffff;
}

.page-link:hover {
  box-shadow: none;
  background-color: #CBCBCB;
  color: #ffffff;
}

.box-pagination li .previous, .next {
  border: none;
}

.box-pagination li a.active {
  color: #ffffff;
  background-color: #005586;
}

.box-pagination li a {
  color: #ffffff;
  background-color: #CBCBCB;
}

.box-pagination .page-link {
  padding: 0.275rem .75rem;
}

.box-table .form-select {
  font-size: 10px;
  color: #CBCBCB;
}

.box-table .form-select.active {
  color: #88B1C7;
  border: 1px solid #88B1C7;
  font-weight: bold;
}

.confirm-select {
  width: 80px;
  height: 28px;
}

.status-select {
  width: 110px;
  height: 28px;
}

.box-table tr.active {
  background-color: #F4F6F6;
}

.text-above-search {
  color: #0071C1;
  font-size: 14px;
  margin: 0;
}

.text-above-search a {
  color: #0071C1;
}

.link-above-search {
  font-size: 20px;
  text-decoration: none;
}

.page-header-title {
  color: #003159 !important;
  font-weight: bold !important;
  font-size: 28px !important;
}

.part-above-search {
  font-family: 'M PLUS 1p', sans-serif;
  justify-content: end;
  align-items: baseline;
}

.edit-icon {
  width: 20px;
  height: 20px;
}

tr td {
  font-weight: bold;
}

tr.active td {
  font-weight: 300;
}

.pop-check-input {
  margin: 0 10rem;
  font-size: 14px;
}

.pop-check-input label {
  margin-left: 1rem;
}

#remarks {
  height: 80px;
  border-radius: 20px;
  border: 1px solid #7DB1C9;
}

.pop-check-select {
  height: 50px;
  border: 1px solid #7DB1C9;
  margin-bottom: 1rem;
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#apply-btn {
  width: 200px;
  height: 50px;
}

.success-icon {
  margin-bottom: 2rem;
}

.success-content {
  width: 680px;
  height: 460px;
  margin: auto;
}

.modal-body {
  height: 400px;
}

.modal-dialog-centered {
  max-width: 900px;
}

.modal-header {
  border: none;
}

.modal-content {
  border-radius: 40px;
}

.modal-title {
  font-weight: bold;
  font-size: 32px;
  color: #003159;
}

.btn-close {
  background: none;
  margin: 0 10px 0 auto !important;
}

.td-warning {
  margin-top: -22px !important;
  margin-left: -8px !important;
}

.td-warning-large {
  margin-top: -22px !important;
  margin-left: -8px !important;
}

.footer-social-icon {
  margin-right: 1rem;
}

.table-list-cv td:nth-child(2) a {
  color: inherit;
  text-decoration: none;
}

.outer-spinner {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.link-modal {
  max-width: 400px;
}

@media only screen and (max-width: 1199px) {
  .td-warning {
    margin-top: -26px !important;
    margin-left: -8px !important;
  }

  .td-warning-large {
    margin-top: -26px !important;
    margin-left: -8px !important;
  }

  .update-modal .modal-dialog {
    width: 40% !important;
  }
}

@media only screen and (max-width: 991px) {
  .box-search {
    border-radius: 2rem !important;
  }

  .table-list-cv {
    font-size: 12px;
  }
  .td-warning {
    padding: 1px 0px 1px 10px;
    font-size: 7px;
    margin-top: -38px !important;
    margin-left: -8px !important;
  }

  .td-warning-large {
    padding: 1px 0px 1px 10px;
    font-size: 7px;
    margin-top: -38px !important;
    margin-left: -8px !important;
  }
  .part-above-search {
    font-family: 'M PLUS 1p', sans-serif;
    flex-direction: column;
    align-items: end;
  }
  .text-above-search {
    margin: 0 !important
  }
  .btn-search-job {
    font-size: 11px !important;
  }

  .update-modal .modal-dialog {
    width: 100% !important;
  }
}

@media only screen and (max-width: 767px) {
  .table-list-cv {
    font-size: 10px;
  }
  .td-warning {
    padding: 1px 0px 1px 10px;
    font-size: 7px;
  }

  .td-warning-large {
    padding: 1px 0px 1px 10px;
    font-size: 7px;
  }

  .page-header-title {
    font-size: 25px !important;
  }
  .text-above-search {
    font-size: 12px;
  }
  .link-above-search {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  .link-modal {
    max-width: 180px;
  }
  .modal-body {
    height: 200px;
  }
  .modal-dialog-centered {
    max-width: 500px;
  }
  .check-title {
    font-size: 26px;
    //margin-bottom: 5px;
  }
  .pop-check-input {
    margin: 0;
    font-size: 12px;
  }
  .check-content {
    height: 500px;
  }
  .confirm-text {
    font-size: 22px;
  }

  .update-modal .modal-dialog {
    width: 100% !important;
  }
}

textarea {
  resize: none;
}

.residence-card-image {
  height: 85%;
  width: 45%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.btn-cancel-update {
  background: #CBCBCB;
}

.btn-ok-update {
  background: #005586;
  color: white;
}

.close-modal {
  height: 30px;
}

.update-modal .modal-dialog {
  width: 30% !important;
}

.modal-header {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.col-text {
  min-width: 10rem !important;
}

.col-status {
  min-width: 123px;
}
