input::placeholder {
  color: #88B1C7 !important;
  opacity: 1; /* Firefox */
}

.box-search .mx-input {
  font-size: 12px;
  height: auto;
  color: #88B1C7;
  border: 1px solid #88B1C7;
  background-color: #F5F7F7;
  border-radius: 50rem !important;
}

.edit-icon {
  width: 20px;
  height: 20px;
}