.btn-cancel-update {
  background: #CBCBCB;
}

.btn-ok-update {
  background: #005586;
  color: white;
}

.close-modal {
  height: 30px;
}

.update-modal .modal-dialog {
  width: 30% !important;
}

.modal-header {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.modal-body {
  height: 400px;
}

.modal-dialog-centered {
  max-width: 900px;
}

.modal-header {
  border: none;
}

.modal-content {
  border-radius: 40px;
}

.modal-title {
  font-weight: bold;
  font-size: 32px;
  color: #003159;
  margin-bottom: 2rem;
}

.btn-close {
  background: none;
  margin: 0 10px 0 auto !important;
}

@media (max-width: 800px) {
  .link-modal {
    max-width: 180px;
  }
  .modal-body {
    height: 200px;
  }
  .modal-dialog-centered {
    max-width: 500px;
  }
  .update-modal .modal-dialog {
    width: 100% !important;
  }
}

